{
  "SECRET_KEY": "{{ secret_key }}",
  "DATABASE_URL": "postgres://{{cookiecutter.project_slug}}:m2fd8dsfSDF231mSfs@localhost/{{cookiecutter.project_slug}}",
  "CELERY_BROKER_URL": "amqp://guest:guest@localhost:5672//"
}